**/__mocks__/**
**/__tests__/**
**/coverage/**
src
fixtures
.flowconfig
.travis.yml
.vscode
.eslintrc.js
babel.config.js
prettier.config.js
tsconfig.json
dangerfile.js
yarn.lock
*.tgz
flow-typed/**
.gitattributes
.github/**
.husky/**
.eslintcache
CHANGELOG.md
